.row {
  color: white;
  margin-left: 20px;
}

.row__posters {
  object-fit: contain;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 15px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  width: 100%;
  max-height: 100px;
}
.row__posters :hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge :hover {
  transform: scale(1.09);
}
.row .video-box {
  display: flex;
  justify-content: space-between;
}
.youtubeVideo h1 {
  font-size: 1.5rem;
  margin-top: 10px;
}
